{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.png')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Who Am I & what I Do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          My name is marwan aljaml i am 24 years old i was born in Palestine  but i live in Amman
          I am a developer and programmer i was studied computer science in AHU and
          I have participated in the dual studies program (GIZ).
        </p>
        <p>
          My job is to develope backend web application  using flask framework and python programming language
          i have knowladge about frontend tecknologies like html,css,javascript and bootstrab framework ,
          i can use python to automate tasks using web scrabing tecknologies like selenium & beautiful soap
          and to analysis data using pandas & numpy libraries 
          also i have oracle database development course using sql language
          and pl/sql.
        </p>
        
       
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
